{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-react" // Add this line to enable JSX support
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
