.PrinciAttendanceOverview {
  width: 100%;
  margin: 10px 1px 20px 2px;
  height: 260px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 4px #0000001a;
  border: 1px solid #eff1f4;
  border-radius: 8px;
  opacity: 1;
}

.PrinciAttendanceOverview h4 {
  padding: 20px;
  text-align: left;
  font: normal normal bold 22px/34px Roboto;
  letter-spacing: 0px;
  color: #2a2d2f;
  opacity: 1;
}

.attendanceOverviewInner h6 {
  background: #f1e7fc 0% 0% no-repeat padding-box;
  border-radius: 0px 8px;
  height: 37px;
  width: 128px;
}

.attendanceOverviewInner {
  height: 175px;
  padding-top: 20px;
}

.attendanceOverviewInner span {
  text-align: left;
  font: normal normal normal 16px/21px Roboto;
  letter-spacing: 0px;
  color: #aeaeae;
  opacity: 1;
}

.attendanceOverviewInner p {
  text-align: center;
  font: normal normal bold 22px/35px Roboto;
  letter-spacing: 0px;
  color: #8a01ff;
  opacity: 1;
  position: relative;
  bottom: 4px;
}

.princiDashboardLogbook {
  width: 100%;
  /* margin-left: 2%;
    margin-bottom: 20%; */
  margin: 10px 1px 20px 2px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 4px #0000001a;
  border: 1px solid #eff1f4;
  border-radius: 8px;
  opacity: 1;
  overflow: hidden;
  overflow-y: auto;
}

.princiDashboardLogbook h4 {
  padding: 20px;
  text-align: left;
  font: normal normal bold 22px/34px Roboto;
  letter-spacing: 0px;
  color: #2a2d2f;
  opacity: 1;
}

.princiRightPanel {
  width: 361px;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #b4b3b329;
  border-radius: 8px 8px 8px 8px;
  font: normal normal bold 16px/34px Roboto;
  letter-spacing: 0px;
  color: #2a2d2f;
  padding: 20px 5px 20px 5px;
}

.teacherScheduleBlock {
  height: 44px;
  width: 150px;
}

.princiRightPanel h4 {
  font: normal normal bold 22px/34px Roboto;
  letter-spacing: 0px;
  color: #2a2d2f;
}

.principalGradeView {
  height: 44px;
  width: 129px;
  border-radius: 6px;
}
