.app {
  height: 100vh;
  width: 100vw;
}

.app .main-header {
  height: 100px;
}

.app .main-body {
  height: calc(100% - 100px);
  display: flex;
}

.app .main-body .main-sidebar {
  width: 270px;
}
.app .main-body .main-sidebar.side-small {
  width: 80px;
}

.app .main-body .main-container {
  width: calc(100% - 270px);
  overflow: auto;
  padding: 30px 20px;
}
.app .main-body .main-container.cont-big {
  width: calc(100% - 80px);
}

a {
  text-underline-offset: none;
}

.btn-primary {
  background-color: rgb(30 121 182);
  border: 1px solid rgb(30 121 182);
  border-radius: 6px;
  padding: 8px 20px;
  color: #fff;
}

.btn-primary:hover {
  background-color: rgb(53 98 129);
}

.dropdown-toggle::after {
  display: none; /* Hide the pseudo-element */
}

/* Style the scrollbar */
/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px; /* Height of the horizontal scrollbar */
  width: 8px; /* Width of the vertical scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}
